# Dependências
node_modules/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Variáveis de ambiente
.env
.env.docker

# Builds e logs de execução
dist/
build/
*.log

# IDEs
.vscode/
.idea/
.DS_Store
/src/generated/prisma

# Certificado SSL do banco
*.pem