services:
  app:
    build: .
    container_name: backend
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: impacta
    volumes:
      - .:/app
      - /app/node_modules
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: impacta
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
  
volumes:
    mysql_data: